.head-card {
    position: relative;
}

.date-badge {
    background: #00b050;
    color: #fff;
    padding: 8px 12px;
    border-radius: 0 0 10px 0;
    text-align: center;
    z-index: 2;
    top:92%;
}

.date-badge strong {
    font-size: 20px;
    line-height: 1;
}

.date-badge small {
    font-size: 12px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-body span{

    width: 49%;
}
.card-body span:nth-child(2){
    text-align: center;
}